* {
  all: unset;
}

window {
  background-color: #232731;
}

.one, .two, .three, .four {
  font-size: 22px;
}

.one {
  color: #8fbcbb;
}

.two {
  color: #88c0d0;
}

.three {
  color: #81a1c1;
}

.four {
  color: #5e81ac;
}

.time {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  padding: .6em .1em .3em;
  font-size: 14px;
  color: #d8dee9;
}

.mus_icon {
  font-size: 24px;
  color: #d8dee9;
}
